@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

.cursive {
  font-family: "Shadows Into Light", cursive;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.full-screen-video-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.videoBG {
  position: absolute;
  z-index: -1;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

@media (max-width: 767px) {
  .videoBG {
    display: none;
  }

  main {
    background: url("stillBG.jpeg");
    background-size: cover;
  }
}
